#cabeceraWeb {
    background-color: blue;
}

#navegacionPrincipal {
    background-color: red;
}

#barraLateral {
    background-color: #0F0;
}

#contenidoPrincipal {
    background-color: salmon;
}

#piePrincipal {
    background-color: seagreen;
}